{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}

<!-- start page title section -->
<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'stax_official/images/About us_2-min.png' %});">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">
          <!-- start sub title -->
          <!-- end sub title -->
          <!-- start page title -->
          <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">About Stax</h1>
          <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">A Global Consulting Firm</span>

          <!-- end page title -->
        </div>
      </div>
    </div>
  </div>
</section>

<!-- end page title section -->
<!-- start section -->
<section id="why" class="wow fadeIn">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 text-left sm-margin-30px-bottom sm-padding-80px-lr xs-padding-15px-lr sm-text-center wow fadeIn">
        <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase width-80 md-width-100">Why stax</h5>
        <div class="separator-line-verticle-extra-small bg-extra-dark-gray width-50 sm-width-70 sm-center-col margin-30px-bottom sm-margin-20px-bottom"></div>
        <p class="width-95 md-width-100"><b>We are agile.</b> The world today is more fluid and dynamic than ever
          before. As technology and product life cycles continue to shorten, Stax brings agility to the mix. With
          modular product teams capable of adapting to changing client needs,
          our solutions are the product of deep design thinking and are crafted for lasting impact.
          <br><b>We are collaborative. </b>Our approach is collaborative and thoughtful. We work closely with clients
          to understand their requirements and co-create actionable recommendations without impinging on their time,
          resources and employees.
        </p>
        <a class="btn btn-small btn-dark-gray font-weight-700" href="/contactus">Contact us</a>
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 xs-margin-15px-bottom wow fadeIn" data-wow-delay="0.2s">
        <img src="{% static 'stax_official/images/whystax2.jpg' %}" alt="" />
      </div>
      <div class="col-md-4 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
        <img src="{% static 'stax_official/images/whystax.jpg' %}" alt="" />
      </div>
    </div>
  </div>
</section>
<!-- end section -->
<!-- start feature box section -->

<!-- end feature box section -->
<!-- start counter section -->


<!-- start information section -->
<section id="history" class="wow fadeIn">
  <div name="history" class="container">
    <div class="row" style="margin-top: -80px; margin-bottom:-180px;">
      <!-- start feature box item -->
      <h5 class="alt-font font-weight-700 text-extra-dark-gray text-uppercase width-80 md-width-100">Our History</h5>
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">1994</h5>
        <p class="width-90 sm-width-100">Stax founded in Boston to serve corporate clients who require actionable,
          data-driven insights based on robust analysis of data.

        </p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
      <!-- start feature box item -->
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight" data-wow-delay="0.2s">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">1996</h5>
        <p class="width-90 sm-width-100">Launched private-equity practice. In parallel, corporate client base expanded,
          both geographically across the U.S. and in breadth of engagements.</p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
      <!-- start feature box item -->
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight" data-wow-delay="0.4s">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">1998</h5>
        <p class="width-90 sm-width-100">Stax Chicago opened to serve Midwest clients and tap into local talent.</p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
  <div class="container">
    <div class="row">
      <!-- start feature box item -->
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">2003</h5>
        <p class="width-90 sm-width-100">Stax NYC opened to meet the needs of our corporate and private equity clients
          in the tri-state area.</p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
      <!-- start feature box item -->
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight" data-wow-delay="0.2s">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">2005</h5>
        <p class="width-90 sm-width-100">Stax Colombo opened to better serve client needs in Asia and to develop data
          mining, data visualization, and analytic capabilities unmatched at traditional strategic consulting firms to
          complement existing expertise in strategic consulting.</p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
      <!-- start feature box item -->
      <div class="col-md-4  col-sm-4 col-xs-12 sm-margin-40px-bottom xs-text-center wow fadeInRight" data-wow-delay="0.4s">
        <h5 class="text-light-gray font-weight-300 alt-font no-margin-bottom">2012</h5>
        <p class="width-90 sm-width-100">Founded in 2012, Stax Development Corporation (DevCorp) creates entirely new
          startup companies and forms joint ventures to address critical market needs identified by Stax’s strategic
          consulting practice. Our deals typically have a connection
          to innovative solutions that meet the interests of our corporate or investor clients in unique ways.</p>
        <div class="separator-line-horrizontal-medium-light3 bg-deep-pink width-50px xs-center-col"></div>
      </div>
      <!-- end feature box item -->
    </div>
  </div>
</section>
<!-- end information sevtion -->
<!-- start section -->
<section id="staxtoday" class="extra-big-section parallax wow fadeIn" data-stellar-background-ratio="0.5" style="background-image: url({% static 'stax_official/images/stax2.jpg' %})">
  <div class="opacity-full-dark bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-sm-11 col-xs-12 center-col text-center">
        <div class="alt-font text-large text-medium-gray font-weight-500  text-uppercase text-small margin-20px-bottom">Stax
          today</div>
        <p class="text-light-gray alt-font margin-40px-bottom xs-margin-30px-bottom">Sri Lanka’s leading management
          consulting firm. Entrenched client base comprising 30+ local conglomerates and family businesses, 15 of the
          top 20 global private equity firms and 25+ Fortune 500 companies. </p>
        <a href="/services" class="btn btn-medium btn-white btn-rounded">Explore services</a>
      </div>
    </div>
  </div>
</section>
<!-- end section -->
<!-- start clients logo section -->

<!-- end clients logo section -->
<!-- start section -->
<section id="leadership" class="wow fadeIn">
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
          <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">Our
            leadership</h5>
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/NEWYORK__Rafi Musher, Founder and CEO of Stax Inc. and Stax Dev Corp.png' %}"
              class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Rafi Musher</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Founder and CEO</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->

      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Mark Bremer, President.png' %}" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Mark Bremer</div>
              <div class="text-extra-small text-uppercase text-medium-gray">President-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <!-- end team item -->
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Paul Edwards, Managing Director.png' %}" class="img-fluid"
              alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Paul Edwards</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/COLOMBO__Kumudu Gunasekera, Ph.D., Managing Director.png' %}" alt=""
              class="img-fluid">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Dr.Kumudu Gunasekera</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-colombo</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1  xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/COLOMBO__Ruwindhu Peiris, Managing Director.png' %}" class="img-fluid"
              alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Ruwindhu Peiris</div>
              <div class="text-extra-small text-uppercase text-medium-gray">COLOMBO-Managing Director</div>
            </div>
          </figcaption>
        </figure>
      </div>

      <!-- end team item -->

      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1  xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Jeremy Wall, Managing Director.png' %}" class="img-fluid"
              alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Jeremy Wall</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <!-- start team item -->

  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Brett Conradt, Managing Director.png' %}" class="img-fluid"
              alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Brett Conradt</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>

      <!-- end team item -->

    </div>
  </div>
  <!-- end team item -->
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Christina Thai, Director of Human Resources.png' %}"
              class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Christina Thai</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Director- BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Palash Misra, Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Palash Misra</div>
              <div class="text-extra-small text-uppercase text-medium-gray"> Director-BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Tricia Dupilka, Director of Talent Development.png' %}"
              class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Tricia Dupilka</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->

    </div>
  </div>
  <!-- start team item -->



  <!-- start team item -->
  <!-- end team item -->
  <!-- start team item -->
  <!-- end team item -->


  <!-- end team item -->


  <!-- start team item -->


  </div>
  <!-- start team item -->


  <!-- end team item -->
  <!-- start team item -->

  <!-- end team item -->

  <!-- start team item -->

  </div>

</section>

<!-- start call to action section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row" style="margin-top: -90px; margin-bottom:-50px;">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">Talk
          to us</h5>
        <a href="/contactus" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp" data-wow-delay="0.2s">Start
          your stax journey</a>
      </div>
    </div>
  </div>
</section>
<!-- end call to action section -->
{% endblock content %}