{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}
<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'stax_official/images/About us_2-min.png' %});">
  <div class="opacity-medium bg-extra-dark-gray"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
        <div class="display-table-cell vertical-align-middle text-center padding-30px-tb">

          <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">About Stax</h1>
          <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">A Global Consulting Firm</span>

          <!-- end page title -->
        </div>
      </div>
    </div>
  </div>
</section>


<!-- end feature box section -->


<!-- end clients logo section -->
<!-- start section -->
<section id="leadership" class="wow fadeIn">
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">

    <div class="row" style="margin-top:-35px">
      <div class="col-md-11 center-col text-center margin-70px-bottom sm-margin-50px-bottom xs-margin-30px-bottom wow fadeInUp">

        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">Why
          stax</h5>
        <h6 class="alt-font text-medium-gray font-weight-400">Sri Lanka’s leading management consulting firm.
          Entrenched client base comprising 30+ local conglomerates and family businesses, 15 of the top 20 global
          private equity firms and 25+ Fortune 500 companies. </p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">Our
          leadership</h5>
      </div>
    </div>
    <!-- start team item -->
    <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight">
      <figure>
        <div class="team-image xs-width-100">
          <img src="{% static 'stax_official/images/NEWYORK__Rafi Musher, Founder and CEO of Stax Inc. and Stax De' %}v Corp.png" class="img-fluid"
            alt="">
          <div class="overlay-content text-center">
            <div class="display-table height-100 width-100">
              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-overlay bg-extra-dark-gray opacity8"></div>
        </div>
        <figcaption>
          <div class="team-member-position margin-20px-top text-center">
            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Rafi Musher</div>
            <div class="text-extra-small text-uppercase text-medium-gray">Founder and CEO</div>
          </div>
        </figcaption>
      </figure>
    </div>
    <!-- end team item -->

    <!-- start team item -->
    <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
      <figure>
        <div class="team-image xs-width-100">
          <img src="{% static 'stax_official/images/CHICAGO__Mark Bremer, President.png' %}" alt="">
          <div class="overlay-content text-center">
            <div class="display-table height-100 width-100">
              <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
              </div>
            </div>
          </div>
          <div class="team-overlay bg-extra-dark-gray opacity8"></div>
        </div>
        <figcaption>
          <div class="team-member-position margin-20px-top text-center">
            <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Mark Bremer</div>
            <div class="text-extra-small text-uppercase text-medium-gray">President-CHICAGO</div>
          </div>
        </figcaption>
      </figure>
    </div>
  </div>
  </div>
  <!-- end team item -->
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1  xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/COLOMBO__Ruwindhu Peiris, Managing Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Ruwindhu Peiris</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-COLOMBO</div>
            </div>
          </figcaption>
        </figure>
      </div>


      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/COLOMBO__Kumudu Gunasekera, Ph.D., Managing Director.png' %}" alt="" class="img-fluid">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Dr.Kumudu Gunasekera</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-colombo</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Paul Edwards, Managing Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Paul Edwards</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->

      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1  xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Jeremy Wall, Managing Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Jeremy Wall</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
  <!-- start team item -->

  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Brett Conradt, Managing Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Brett Conradt</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Managing Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>

      <!-- end team item -->

    </div>
  </div>
  <!-- end team item -->
  <div class="container-fluid padding-seventeen-lr md-padding-ten-lr xs-padding-15px-lr">
    <div class="row">
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        </div>
      </div>
      <!-- start team item -->
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.2s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Christina Thai, Director of Human Resources.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Christina Thai</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Director- BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight"
        data-wow-delay="0.4s">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/BOSTON__Palash Misra, Director.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-facebook"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Palash Misra</div>
              <div class="text-extra-small text-uppercase text-medium-gray"> Director-BOSTON</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 team-block text-left team-style-1 margin-40px-bottom xs-margin-30px-bottom wow fadeInRight">
        <figure>
          <div class="team-image xs-width-100">
            <img src="{% static 'stax_official/images/CHICAGO__Tricia Dupilka, Director of Talent Development.png' %}" class="img-fluid" alt="">
            <div class="overlay-content text-center">
              <div class="display-table height-100 width-100">
                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                  <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                  <a href="http://www.facebook.com/" class="text-white" target="_blank"><i class="fa fa-linkedin"></i></a>
                  <a href="http://www.twitter.com/" class="text-white" target="_blank"><i class="fa fa-twitter"></i></a>
                </div>
              </div>
            </div>
            <div class="team-overlay bg-extra-dark-gray opacity8"></div>
          </div>
          <figcaption>
            <div class="team-member-position margin-20px-top text-center">
              <div class="text-small font-weight-500 text-extra-dark-gray text-uppercase">Tricia Dupilka</div>
              <div class="text-extra-small text-uppercase text-medium-gray">Director-CHICAGO</div>
            </div>
          </figcaption>
        </figure>
      </div>
      <!-- end team item -->

    </div>
  </div>

  </div>

  </div>

</section>

<!-- start call to action section -->
<section class="wow fadeIn">
  <div class="container">
    <div class="row" style="margin-top: -90px; margin-bottom:-50px;">
      <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
        <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">Talk
          to us</h5>
        <a href="/contactus" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp"
          data-wow-delay="0.2s">Start your stax journey</a>
      </div>
    </div>
  </div>
</section>

{% endblock content %}