{% load static %}
<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- title -->
    <title>STAX.INC- A Global Strategy consulting firm</title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="ThemeZaa">
    <!-- description -->
    <meta name="description" content="">
    <!-- keywords -->
    <meta name="keywords" content="">
    <!-- favicon -->
    <link rel="shortcut icon" href="{% static 'stax_official/images/favicon.ico' %}">
    <link rel="apple-touch-icon" href="{% static 'stax_official/images/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'stax_official/images/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'stax_official/images/apple-touch-icon-114x114.png' %}">
    <!-- animation -->
    <link rel="stylesheet" href="{% static 'stax_official/css/animate.css' %}" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'stax_official/css/bootstrap.min.css' %}" />
    <!-- et line icon -->
    <link rel="stylesheet" href="{% static 'stax_official/css/et-line-icons.css' %}" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="{% static 'stax_official/css/font-awesome.min.css' %}" />
    <!-- themify icon -->
    <link rel="stylesheet" href="{% static 'stax_official/css/themify-icons.css' %}">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="{% static 'stax_official/css/swiper.min.css' %}">
    <!-- justified gallery  -->
    <link rel="stylesheet" href="{% static 'stax_official/css/justified-gallery.min.css' %}">
    <!-- magnific popup -->
    <link rel="stylesheet" href="{% static 'stax_official/css/magnific-popup.css' %}" />
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="{% static 'stax_official/revolution/css/settings.css' %}" media="screen" />
    <link rel="stylesheet" type="text/css" href="{% static 'stax_official/revolution/css/layers.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'stax_official/revolution/css/navigation.css' %}">
    <!-- bootsnav -->
    <link rel="stylesheet" href="{% static 'stax_official/css/bootsnav.css' %}">
    <!-- style -->
    <link rel="stylesheet" href="{% static 'stax_official/css/style.css' %}" />
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'stax_official/css/responsive.css' %}" />
    <!--[if IE]>
            <script src="js/html5shiv.js"></script>
        <![endif]-->
</head>

{% block content %}

{% endblock content %}

</html>