{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}
<section class="wow fadeIn bg-light-gray padding-35px-tb page-title-small top-space">
    <div class="container">
        <div class="row equalize xs-equalize-auto">
            <div class="col-lg-8 col-md-6 col-sm-6 col-xs-12 display-table">
                <div class="display-table-cell vertical-align-middle text-left xs-text-center">
                    <!-- start page title -->
                    <h1 class="alt-font text-extra-dark-gray font-weight-600 no-margin-bottom text-uppercase">Taking
                        Over The Mantle: Sri Lankan Family Businesses Today</h1>
                    <!-- end page title -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 display-table text-right xs-text-left xs-margin-10px-top">
                <div class="display-table-cell vertical-align-middle breadcrumb text-small alt-font">
                    <!-- breadcrumb -->
                    <ul class="xs-text-center text-uppercase">
                        <li><a href="#" class="text-dark-gray">Date</a></li>
                        <li><span class="text-dark-gray">by <a href="blog-masonry.html">Name</a></span></li>
                    </ul>
                    <!-- end breadcrumb -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start post content section -->
<section>
    <div class="container">
        <div class="row">
            <main class="col-md-9 col-sm-12 col-xs-12 right-sidebar sm-margin-60px-bottom xs-margin-40px-bottom no-padding-left sm-no-padding-right">
                <div class="col-md-12 col-sm-12 col-xs-12 blog-details-text last-paragraph-no-margin">
                    <img src="{% static 'stax_official/images/blog-details-img19.jpg' %}" alt="" class="width-100 margin-45px-bottom">
                    <p>A family business is like a double-edged sword. Driven by emotion, these organizations have a
                        deeper purpose beyond the nuts and bolts of business—they are full of soul. In Sri Lanka,
                        family businesses have long underpinned corporate and social life; persevering past the
                        war-torn years all the way through to the economic resurgence we now experience.

                        Equally though, the very bonds that cohere family firms in a common purpose can also prove
                        corrosive if they are not managed properly. Globally, family businesses face similar
                        challenges—complacency over time, family disputes, transitional issues across generations,
                        ambiguity in structures and processes, amongst others.

                        As I see it, Sri Lankan family firms stand on the cusp of a phenomenal opportunity as the
                        region expands. Most of these firms are now managed by 2nd and 3rd generation family members
                        who have an unprecedented advantage in terms of global education and exposure. These
                        generations are raring to go!

                        However, there is a short window to capitalize on the opportunities that dot the horizon; from
                        overseas expansion to product diversification. Today’s businesses need to think big and act
                        fast in order to fulfill their responsibility to the economy and make their mark on the nation.

                        This is why it gives me great pleasure to share the findings of our first ever survey of local
                        family businesses, carried out by STAX in cooperation with the Sri Lanka Institute of
                        Directors. This report gives us the low-down of the strengths, challenges and experiences of
                        Sri Lankan family firms today. In sharing these findings, our goal is to help family businesses
                        build clarity, comfort and capability—to understand the opportunities and threats that confront
                        them in order to capitalize or mitigate accordingly.</p>
                    <!-- end dropcaps -->
                    <figure class="wp-caption alignleft"><img alt="" src="{% static 'stax_official/images/about.jpg' %}">
                        <figcaption class="wp-caption-text">Caption of the picture.</figcaption>
                    </figure>
                    <p>A family business is like a double-edged sword. Driven by emotion, these organizations have a
                        deeper purpose beyond the nuts and bolts of business—they are full of soul. In Sri Lanka,
                        family businesses have long underpinned corporate and social life; persevering past the
                        war-torn years all the way through to the economic resurgence we now experience. Equally
                        though, the very bonds that cohere family firms in a common purpose can also prove corrosive if
                        they are not managed properly. Globally, family businesses face similar challenges—complacency
                        over time, family disputes, transitional issues across generations, ambiguity in structures and
                        processes, amongst others. As I see it, Sri Lankan family firms stand on the cusp of a
                        phenomenal opportunity as the region expands. Most of these firms are now managed by 2nd and
                        3rd generation family members who have an unprecedented advantage in terms of global education
                        and exposure. These generations are raring to go! However, there is a short window to
                        capitalize on the opportunities that dot the horizon; from overseas expansion to product
                        diversification. Today’s businesses need to think big and act fast in order to fulfill their
                        responsibility to the economy and make their mark on the nation. This is why it gives me great
                        pleasure to share the findings of our first ever survey of local family businesses, carried out
                        by STAX in cooperation with the Sri Lanka Institute of Directors. This report gives us the
                        low-down of the strengths, challenges and experiences of Sri Lankan family firms today. In
                        sharing these findings, our goal is to help family businesses build clarity, comfort and
                        capability—to understand the opportunities and threats that confront them in order to
                        capitalize or mitigate accordingly.

                    </p>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12 margin-seven-bottom margin-eight-top">
                    <div class="divider-full bg-medium-light-gray"></div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 sm-text-center">
                    <div class="tag-cloud margin-20px-bottom">
                        <a href="blog-grid.html">TAG1</a>
                        <a href="blog-grid.html">TAG2</a>
                        <a href="blog-grid.html">TAG3</a>
                        <a href="blog-grid.html">TAG4</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-right sm-text-center">
                    <div class="social-icon-style-6">
                        <ul class="extra-small-icon">
                            <li><a class="facebook" href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="google" href="http://google.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="pinterest" href="http://dribbble.com/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

            </main>
            <aside class="col-md-3 col-sm-12 col-xs-12 pull-right">

                <div class="margin-45px-bottom xs-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase text-small font-weight-600 aside-title"><span>About
                            the Author</span></div>
                    <a href="about-me.html"><img src="{% static 'stax_official/images/aside-image-1.jpg' %}" alt="" class="margin-25px-bottom" /></a>
                    <p class="margin-20px-bottom text-small">About the author .</p>
                    <a class="btn btn-very-small btn-dark-gray text-uppercase" href="about-me.html">more posts</a>
                </div>

                <div class="margin-45px-bottom xs-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Read
                            more</span></div>
                    <ul class="list-style-6 margin-50px-bottom text-small">
                        <li><a href="blog-masonry.html">Expertise</a></li>
                        <li><a href="blog-masonry.html">Industries</a></li>
                        <li><a href="blog-masonry.html">In the news</a></li>
                    </ul>
                </div>

                <div class="bg-deep-pink padding-30px-all text-white text-center margin-45px-bottom xs-margin-25px-bottom">
                    <i class="fa fa-quote-left icon-small margin-15px-bottom display-block"></i>
                    <span class="text-extra-large font-weight-300 margin-20px-bottom display-block">best case study.</span>
                    <a class="btn btn-very-small btn-transparent-white border-width-1 text-uppercase" href="portfolio-boxed-grid-overlay.html">Explore
                        stax</a>
                </div>
                <div class="margin-45px-bottom xs-margin-25px-bottom">
                    <div class="text-extra-dark-gray margin-25px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>tags
                        </span></div>
                    <div class="tag-cloud">
                        <a href="blog-grid.html">leantransformation</a>
                        <a href="blog-grid.html">marketentry</a>
                        <a href="blog-grid.html">digitalstrategy</a>

                        <a href="blog-grid.html">growthstrategy</a>

                    </div>
                </div>
                <div class="margin-50px-bottom">
                    <div class="text-extra-dark-gray margin-20px-bottom alt-font text-uppercase font-weight-600 text-small aside-title"><span>Follow
                            stax</span></div>
                    <div class="social-icon-style-1 text-center">
                        <ul class="extra-small-icon">
                            <li><a class="facebook" href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a></li>
                            <li><a class="twitter" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                            <li><a class="google" href="http://google.com/" target="_blank"><i class="fa fa-instagram"></i></a></li>
                            <li><a class="linkedin" href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin "></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="margin-45px-bottom xs-margin-25px-bottom">
                    <a href="#"><img src="{% static 'stax_official/images/menu-banner-01.png' %}" alt="" class="width-100" /></a>
                </div>
            </aside>
        </div>
    </div>
</section>
<!-- end blog content section -->
<section class="half-section wow fadeIn cover-background" style="background-image: url({% static 'stax_official/images/stax1.jpg' %});">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 center-col position-relative text-center">
                <span class="text-extra-large text-white alt-font display-inline-block margin-5px-top margin-30px-right xs-no-margin-right xs-no-margin-top xs-margin-15px-bottom xs-width-100">We'd
                    like to hear about you</span>
                <a href="contactus.html" class="btn btn-white btn-small vertical-align-top xs-no-margin-right">Contact
                    stax</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}