{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}
<!-- star page title section -->
<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'stax_official/images/Careers_3-min.png' %});">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start sub title -->
                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-1">Careers at
                        stax </h1>
                    <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">JOIN OUR TEAM</span>

                    <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<section class="big-section">
    <div class="container">
        <div class="row" style=" margin-top:-100px; ">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 sm-margin-5px-bottom wow fadeInLeft">
                <div class="separator-line-horrizontal-full bg-deep-pink margin-20px-bottom sm-display-none"></div>
                <span class="text-uppercase alt-font text-deep-pink letter-spacing-1 font-weight-600 text-medium">Careers
                    at stax</span>

            </div>
            <div class="col-lg-8 col-md-7 col-md-offset-2 last-paragraph-no-margin">
                <p class="text-medium line-height-30">We are looking for people who are prepared to step up and seize
                    the opportunities before them.

                    As our company continues to grow, you will be given the chance to make your mark in expanding our
                    capabilities and in the development of the firm. Your work will have a direct impact and receive
                    high visibility.

                    We are hiring for consulting and data analytics positions across our offices. Interested candidates
                    should submit an online application to their location of interest</h6>
                </p>
            </div>

        </div>

    </div>
    <div class="row" style=" margin-top:40px;">
        <div class="col-md-10 center-col text-center wow fadeInUp" data-wow-delay="0.4s">
            <a href="https://internationalcareers-stax.icims.com/jobs/search?ss=1&hashed=-435649244&mobile=false&width=830&height=500&bga=true&needsRedirect=false&jan1offset=360&jun1offset=330"
                class="btn btn-transparent-dark-gray btn-large">View job openings in sri lanka</a>
        </div>
    </div>

</section>
{% endblock content %}