{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}
<section class="wow fadeIn parallax" data-stellar-background-ratio="0.5" style="background-image:url({% static 'stax_official/images/stax8.jpg' %});">
    <div class="opacity-full bg-black"></div>
    <div class="container">
        <div class="row">
            <!-- start contact-form head -->
            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                <h4 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-0 ">Start Your STAX
                    Journey </h4>
                <div class="text-small text-medium-gray alt-font text-uppercase margin-5px-bottom">Fill out the form &
                    we'll be in touch soon!</div>

            </div>
            <!-- end contact-form head -->
        </div>
        <!-- start contact-form -->
        <form id="project-contact-form" action="javascript:void(0)" method="post">
            <div class="row">
                <div class="col-md-12 sm-clear-both">
                    <div id="success-project-contact-form" class="no-margin-lr"></div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="name" id="name" placeholder="Name  *" class="bg-transparent border-color-white text-white ">
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="Organization" id="Organization" placeholder=" Name of Organization  *"
                        class="bg-transparent border-color-white medium-input">
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="phone" id="phone" placeholder="Phone *" class="bg-transparent border-color-white medium-input">
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="email" id="email" placeholder="E-mail *" class="bg-transparent border-color-white medium-input">
                </div>
                <div class="col-md-6 col-sm-12">
                    <input type="text" name="Job Title " id="Job Title " placeholder="Job Title " class="bg-transparent border-color-white medium-input">
                </div>


                <div class="col-md-12 sm-clear-both">
                    <textarea name="comment" id="comment" placeholder="A brief description of your need" rows="6" class="bg-transparent border-color-white medium-textarea"></textarea>
                </div>
                <div class="col-md-12 text-center">
                    <button id="project-contact-us-button" type="submit" class="btn btn-deep-pink btn-rounded btn-large margin-20px-top xs-no-margin-top">send
                        message</button>
                </div>
            </div>
        </form>
        <!-- end contact-form -->
    </div>
</section>

<!-- start contact section -->

<!-- end contact section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-8 col-sm-6 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center">
                <h5 class="alt-font text-extra-dark-gray text-uppercase font-weight-600">contact us</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-1 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight"
                data-wow-duration="900ms">
            </div>
            <!-- start team item -->
            <div class="col-md-2 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight"
                data-wow-duration="900ms">
                <figure>
                    <div class="team-image xs-width-120">
                        <div class="opacity-extra-medium bg-black"></div>
                        <img src="{% static 'stax_official/images/Boston.png' %}" alt="">
                        <div class="overlay-content text-center">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                    <span class="text-white text-small display-inline-block no-margin">699, Boylston
                                        Street One Exeter Plaza, 3rd Floor, Boston. <br> MA 02116.</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-phone"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">617-747-3400</span>
                                    <br>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-envelope"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">abc@stax.com</span>
                                    <br>


                                </div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-medium font-weight-500 text-extra-dark-gray text-uppercase">BOSTON</div>
                            <div class="text-extra-small text-uppercase text-medium-gray">u.s.</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-md-2 col-sm-6 col-xs-12 team-block text-left team-style-1 sm-margin-seven-bottom xs-margin-30px-bottom wow fadeInRight"
                data-wow-duration="900ms" data-wow-delay="0.2s">
                <figure>
                    <div class="team-image xs-width-100">
                        <div class="opacity-extra-medium bg-black"></div>
                        <img src="{% static 'stax_official/images/Colombo.png' %}" alt="">
                        <div class="overlay-content text-center">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                    <span class="text-white text-small display-inline-block no-margin">278/4, Access
                                        Tower II Union Place, 15th floor, Colombo 2. <br>Sri Lanka.</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-phone"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">+94-11-746-2700</span>
                                    <br>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-envelope"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">abc@stax.com</span>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-medium font-weight-500 text-extra-dark-gray text-uppercase">COLOMBO</div>
                            <div class="text-extra-small text-uppercase text-medium-gray">SRI LANKA</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-md-2 col-sm-6 col-xs-12 team-block text-left team-style-1 xs-margin-30px-bottom wow fadeInRight"
                data-wow-duration="900ms" data-wow-delay="0.4s">
                <figure>
                    <div class="team-image xs-width-100">
                        <div class="opacity-extra-medium bg-black"></div>
                        <img src="{% static 'stax_official/images/Chicago.png' %}" alt="">
                        <div class="overlay-content text-center">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                    <span class="text-white text-small display-inline-block no-margin">111, East Wacker
                                        Drive, Suite 1300 Chicago.<br>IL 60601.</span>
                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-phone"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">312-873-2900</span>
                                    <br>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-envelope"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">abc@stax.com</span>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-medium font-weight-500 text-extra-dark-gray text-uppercase">CHICAGO</div>
                            <div class="text-extra-small text-uppercase text-medium-gray">u.s.</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-md-2 col-sm-6 col-xs-12 team-block text-left team-style-1 wow fadeInRight"
                data-wow-duration="900ms" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image xs-width-100">
                        <div class="opacity-extra-medium bg-black"></div>
                        <img src="{% static 'stax_official/images/New York.png' %}" alt="">
                        <div class="overlay-content text-center">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                    <span class="text-white text-small display-inline-block no-margin">600, Third
                                        Avenue,<br> 12th Floor, <br>New York. <br>NY 10016.</span>

                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-phone"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">212-299-7500</span>
                                    <br>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-envelope"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">abc@stax.com</span>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-medium font-weight-500 text-extra-dark-gray text-uppercase">New York</div>
                            <div class="text-extra-small text-uppercase text-medium-gray">u.s.</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
            <!-- start team item -->
            <div class="col-md-2 col-sm-6 col-xs-12 team-block text-left team-style-1 wow fadeInRight"
                data-wow-duration="900ms" data-wow-delay="0.6s">
                <figure>
                    <div class="team-image xs-width-100">
                        <div class="opacity-extra-medium bg-black"></div>
                        <img src="{% static 'stax_official/images/Singapore.png' %}" alt="">
                        <div class="overlay-content text-center">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-bottom display-table-cell icon-social-small padding-twelve-all">
                                    <span class="text-white text-small display-inline-block no-margin">8 Marina View,
                                        <br> Asia Square,Level 07-04,<br> Singapore 018960.</span>

                                    <div class="separator-line-horrizontal-full bg-deep-pink margin-eleven-tb"></div>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-phone"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">+65-6407-1089</span>
                                    <br>
                                    <a href="http://facebook.com/" class="text-white" target="_blank"><i class="fa fa-envelope"></i></a>
                                    <span class="text-white text-medium display-inline-block no-margin">abc@stax.com</span>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="team-overlay bg-extra-dark-gray opacity8"></div>
                    </div>
                    <figcaption>
                        <div class="team-member-position margin-20px-top text-center">
                            <div class="text-medium font-weight-500 text-extra-dark-gray text-uppercase">Singapore</div>
                            <div class="text-extra-small text-uppercase text-medium-gray">SG</div>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end team item -->
        </div>
    </div>
</section>

<!-- end map section -->
<!-- start form section -->
<!-- end form section -->
<!-- start section -->

<section class="big-section wow fadeIn parallax" data-stellar-background-ratio="0.4" style="background-image:url({% static 'stax_official/images/about2.jpg' %});">
    <div class="opacity-full bg-medium-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <span class="text-medium font-weight-600 text-uppercase display-block alt-font text-extra-dark-gray margin-30px-bottom">On
                    social networks</span>
                <div class="social-icon-style-7">
                    <ul class="margin-30px-top large-icon">
                        <li><a class="facebook" href="http://facebook.com/" target="_blank"><i class="fa fa-facebook"></i><span></span></a></li>
                        <li><a class="twitter" href="http://twitter.com/" target="_blank"><i class="fa fa-twitter"></i><span></span></a></li>
                        <li><a class="youtube" href="http://youtube.com/" target="_blank"><i class="fa fa-youtube"></i><span></span></a></li>
                        <li><a class="linkedin" href="http://linkedin.com/" target="_blank"><i class="fa fa-linkedin "></i><span></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}