{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}
<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'stax_official/images/Picture 2.png' %});">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start sub title -->

                    <!-- end sub title -->
                    <!-- start page title -->
                    <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-1">Investor
                        Facilitation</h1>
                    <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1"><br>
                        <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end page title section -->
<!-- start services section -->
<section class="big-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-12 col-xs-12 sm-margin-5px-bottom wow fadeInLeft">
                <div class="separator-line-horrizontal-full bg-deep-pink margin-20px-bottom sm-display-none"></div>
                <span class="text-uppercase alt-font text-deep-pink letter-spacing-1 font-weight-600 text-medium">Attracting
                    smart capital through an investor mindset
            </div>
            <div class="col-lg-8 col-md-7 col-md-offset-2 last-paragraph-no-margin">
                <p class="text-medium line-height-30">Investment facilitation is a critical need for individuals and
                    corporations, whether for start-up funding, growth capital, debt or exits. Stax approaches the
                    facilitation process with an investor’s mindset. Leveraging over two decades of private equity due
                    diligence experience, we position clients to attract smart capital by effectively communicating
                    their unique value proposition. Our approach involves building internal alignment on a company’s
                    future growth path and crafting a compelling pitch for prospective investors. In addition to
                    drafting a confidential information memorandum, Stax also performs business valuations and advises
                    on the optimum equity/debt profile. </h6>
            </div>
        </div>

        <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- start services item -->
            <div class="col-md-4 col-sm-4 col-xs-12 team-block text-left feature-box-15 xs-margin-30px-bottom last-paragraph-no-margin wow fadeInUp">
                <figure>
                    <div class="feature-box-content xs-width-100">
                        <div class="feature-box-image"><img src="{% static 'stax_official/images/ausi.JPG' %}" alt=""></div>
                        <div class="hover-content bg-deep-pink">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-middle display-table-cell padding-twelve-lr">
                                    <span class="text-white display-inline-block text-center">“We didn’t know how to
                                        value the digital piece of the business, and we lost the deal because we
                                        couldn’t make a strong enough bid.” Does your team have a strong digital
                                        valuation framework?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">Digital Diligence</div>
                            <p>A Data-Driven Approach for Private Equity</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services item -->
            <!-- start services item -->
            <div class="col-md-4 col-sm-4 col-xs-12 team-block text-left feature-box-15 xs-margin-30px-bottom last-paragraph-no-margin wow fadeInUp"
                data-wow-delay="0.2s">
                <figure>
                    <div class="feature-box-content xs-width-100">
                        <div class="feature-box-image"><img src="{% static 'stax_official/images/ausi.JPG' %}" alt=""></div>
                        <div class="hover-content bg-deep-pink">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-middle display-table-cell padding-twelve-lr">
                                    <span class="text-white display-inline-block text-center">“We didn’t know how to
                                        value the digital piece of the business, and we lost the deal because we
                                        couldn’t make a strong enough bid.” Does your team have a strong digital
                                        valuation framework?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">Digital Diligence</div>
                            <p>A Data-Driven Approach for Private Equity</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services item -->
            <!-- start services item -->
            <div class="col-md-4 col-sm-4 col-xs-12 team-block text-left feature-box-15 last-paragraph-no-margin wow fadeInUp"
                data-wow-delay="0.6s">
                <figure>
                    <div class="feature-box-content xs-width-100">
                        <div class="feature-box-image"><img src="{% static 'stax_official/images/ausi.JPG' %}" alt=""></div>
                        <div class="hover-content bg-deep-pink">
                            <div class="display-table height-100 width-100">
                                <div class="vertical-align-middle display-table-cell padding-twelve-lr">
                                    <span class="text-white display-inline-block text-center">“We didn’t know how to
                                        value the digital piece of the business, and we lost the deal because we
                                        couldn’t make a strong enough bid.” Does your team have a strong digital
                                        valuation framework?</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <figcaption>
                        <div class="text-center margin-25px-top">
                            <div class="text-extra-dark-gray alt-font font-weight-600">Digital Diligence</div>
                            <p>A Data-Driven Approach for Private Equity</p>
                        </div>
                    </figcaption>
                </figure>
            </div>
            <!-- end services item -->
        </div>
    </div>
</section>


<!-- start information section -->
<section class="wow fadeIn">
    <div class="container">
        <div class="row" style="margin-top: -200px; margin-bottom:-100px;">

            <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 center-col text-center">
                <h5 class="alt-font text-uppercase font-weight-700 text-extra-dark-gray width-80 center-col margin-35px-bottom md-width-100 wow fadeInUp">FIND
                    OUT MORE</h5>
                <a href="/services" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp"
                    data-wow-delay="0.2s">view more services</a>

                <a href="/contactus" class="btn btn-medium btn-rounded btn-transparent-dark-gray wow fadeInUp"
                    data-wow-delay="0.2s">contact us</a>
            </div>
</section>
{% endblock content %}
