{% extends "stax_official/base.html" %}

{% block content %}

<body>
    <!-- start header -->
    <header>
        <!-- start navigation -->
        <nav class="navbar navbar-default bootsnav bg-white header-light nav-box-width navbar-top">
            <div name="about" class="container-fluid nav-header-container">
                <div class="row">
                    <!-- start logo -->
                    <div class="col-md-2 col-xs-5">
                        <a href="index.html" title="   " class="logo"><img src="images/logo.png" class="logo-dark default"
                                alt="   "><img src="images/logo-white.png" alt="   " class="logo-light"></a>
                    </div>
                    <!-- end logo -->
                    <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
                        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse"
                            data-target="#navbar-collapse-toggle-1">
                            <span class="sr-only">toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                            <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal"
                                data-in="fadeIn" data-out="fadeOut">

                                <li class="dropdown simple-dropdown"><a href="about.html">About</a><i class="fa fa-angle-down dropdown-toggle"
                                        data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="about.html">Why Stax</a>

                                        </li>
                                        <li><a href="about.html">History </a>

                                        </li>
                                        <li><a href="about.html">Leadership</a>

                                    </ul>
                                </li>
                                <li class="dropdown simple-dropdown"><a href="services.html">Services</a><i class="fa fa-angle-down dropdown-toggle"
                                        data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="growthstrategy.html">Growth Strategy</a></li>
                                        <li><a href="digitalstrategy.html">Digital Strategy</a></li>
                                        <li><a href="leantransformation.html">Lean Transformation</a></li>
                                        <li><a href="projectimplementation.html">Project Implementation</a></li>

                                        <li><a href="marketentry.html">Market Entry</a></li>
                                        <li><a href="investorfacilitation.html">Investor Facilitation</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown simple-dropdown"><a href="careers.html">Careers</a><i class="fa fa-angle-down dropdown-toggle"
                                        data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>
                                <li class="dropdown simple-dropdown"><a href="ourclients.html">Our Clients</a><i class="fa fa-angle-down dropdown-toggle"
                                        data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>
                                <li class="dropdown simple-dropdown"><a href="contactus.html">Contact</a><i class="fa fa-angle-down dropdown-toggle"
                                        data-toggle="dropdown" aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>
                                <li class="dropdown simple-dropdown"><a href="alt-font text-white text-uppercase font-weight-400 javascript:void(0);">Switch
                                        to global</a><i class="fa fa-angle-down dropdown-toggle" data-toggle="dropdown"
                                        aria-hidden="true"></i>
                                    <!-- start sub menu -->

                                </li>

                            </ul>
                        </div>
                    </div>

                </div>
        </nav>
        <!-- end navigation -->
    </header>
    <!-- end header -->
    <section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('images/Picture 6.png');">
        <div class="opacity-medium bg-extra-dark-gray"></div>
        <div class="container">
            <div class="row" style=" margin-top:-60 ; margin-bottom: -100px;">
                <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                    <div class="display-table-cell vertical-align-middle text-center">
                        <!-- start sub title -->
                        <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-1">Our
                            Clients</h1>
                        <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">Achieving
                            operational excellence by doing more with less<br>
                            <!-- end page title -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-light-gray">
        <div class="container">
            <div class="row" style=" margin-top:-80px ; margin-bottom: -80px;">
                <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                    <h5 class="alt-font font-weight-700 text-extra-dark-gray margin-10px-bottom text-uppercase">Some of
                        our clients</h5>
                </div>
            </div>
            <div class="row">
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Mclarens Group.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Hemas.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Toyota.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Unido.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Kapruka.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Aitken Spence.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/St.Anthony's.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Union Bank.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom sm-no-margin">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Bartleet.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
            </div>
            <div class="row">
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Asiri.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Rocell.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Trillium.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Ranfer.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/IIT.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Sunshine.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Atlas.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/ADB.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom sm-no-margin">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/David Pieris.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
            </div>
            <div class="row">
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/JKL.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/HDL.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->
                <!-- start client logo item -->
                <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                        <div class="display-table-cell vertical-align-middle">
                            <a href="#"><img src="images/Janashakthi.png" alt="" /></a>
                        </div>
                    </div>
                </div>
                <!-- end client logo item -->


            </div>
        </div>
    </section>
    <section class="wow fadeIn">
        <div class="container">
            <div class="row" style=" margin-top:-80px ; margin-bottom: -70px;">
                <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Testimonials
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom">
                    <!-- start vimeo video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/jMjeSiBG_sg" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> <!-- end vimeo video -->
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom">
                    <!-- start youtube video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/1Mg3mevyeLE" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> <!-- end youtube video -->
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom" style=" margin-top:80px ; ">
                    <!-- start vimeo video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pOnjy1O5iYE" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom" style=" margin-top:80px ; ">
                    <!-- start youtube video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/waHsIEsz4Ws" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
                <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom" style=" margin-top:80px ; ">
                    <!-- start vimeo video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/MMgpKSXEIDw" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom" style=" margin-top:80px ; ">
                    <!-- start youtube video -->
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4cKLVB__xT0" frameborder="0"
                        allow="autoplay; encrypted-media" allowfullscreen></iframe> </div>
            </div>

        </div>

    </section>

    <!-- start footer -->
    <footer class="footer-standard-dark bg-extra-dark-gray">
        <div class="footer-widget-area padding-five-tb xs-padding-30px-tb">
            <div class="container">
                <div class="row equalize xs-equalize-auto">
                    <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray sm-no-border-right sm-margin-30px-bottom xs-text-center">
                        <!-- start logo -->
                        <a href="Index.html" class="margin-20px-bottom display-inline-block"><img class="footer-logo"
                                src="images/logo-white.png" alt="  "></a>
                        <!-- end logo -->
                        <p class="text-small width-95 xs-width-100"></p>
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Follow
                            us on Social media</div>

                        <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                            <ul class="small-icon no-margin-bottom">
                                <li><a class="facebook text-white" href="https://www.facebook.com/" target="_blank"><i
                                            class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="twitter text-white" href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="google text-white" href="https://plus.google.com/" target="_blank"><i
                                            class="fa fa-google-plus"></i></a></li>
                                <li><a class="instagram text-white" href="https://instagram.com/" target="_blank"><i
                                            class="fa fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!-- start social media -->

                        <!-- end social media -->
                    </div>
                    <!-- start additional links -->
                    <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">
                            About </div>
                        <ul class="list-unstyled">
                            <li><a class="text-small" href="about.html#why">Why stax </a></li>
                            <li><a class="text-small" href="about.html#history">History</a></li>
                            <li><a class="text-small" href="about.html#leadership">Leadership</a></li>
                        </ul>
                    </div>
                    <!-- end additional links -->
                    <!-- start contact information -->
                    <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Services</div>
                        <ul class="list-unstyled">
                            <li><a class="text-small" href="growthstrategy.html">Growth Strategy </a></li>
                            <li><a class="text-small" href="digitalstrategy.html">Digital Strategy</a></li>
                            <li><a class="text-small" href="projectimplementation.html">Project Implementation</a></li>
                            <li><a class="text-small" href="marketentry.html">Market Entry</a></li>
                            <li><a class="text-small" href="leantransformation.html">Lean Transformation</a></li>
                            <li><a class="text-small" href="investorfacilitation.html">Investor Facilitation</a></li>

                        </ul>
                    </div>
                    <!-- end contact information -->
                    <!-- start instagram -->
                    <div class="col-md-3 col-sm-6 col-xs-12 widget border-right border-color-medium-dark-gray padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                        <div class="widget-title alt-font text-small text-medium-gray text-uppercase margin-10px-bottom font-weight-600">Additional
                            Links </div>
                        <ul class="list-unstyled">
                            <li><a class="text-small" href="index.html">Home </a></li>

                            <li><a class="text-small" href="about.html">About </a></li>
                            <li><a class="text-small" href="careers.html">Careers</a></li>

                            <li><a class="text-small" href="ourclients.html">Our Clients</a></li>
                            <li><a class="text-small" href=".html">Thought Leadership</a></li>
                            <li><a class="text-small" href="contactus.html">Contact us</a></li>
                        </ul>
                    </div>
                    <!-- end instagram -->

                </div>
            </div>
        </div>
        <div class="bg-dark-footer padding-50px-tb text-center xs-padding-30px-tb">
            <div class="container">
                <div class="border-color-extra-light-gray border-top padding-40px-top xs-padding-30px-top">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-12 col-xs-12 text-right text-small text-center text-medium-gray">&COPY; 2019
                            @ Stax.com Created by <a href="http://www.stax.com/" target="_blank" title="stax.asia"
                                class="text-medium-gray">Stax</a></div>
                        <!-- end copyright -->
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- end footer -->
    -- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top  -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/modernizr.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/skrollr.min.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.js"></script>
    <script type="text/javascript" src="js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="js/bootsnav.js"></script>
    <script type="text/javascript" src="js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="js/classie.js"></script>
    <script type="text/javascript" src="js/hamburger-menu.js"></script>
    <!-- counter  -->
    <script type="text/javascript" src="js/counter.js"></script>
    <!-- fit video  -->
    <script type="text/javascript" src="js/jquery.fitvids.js"></script>
    <!-- equalize -->
    <script type="text/javascript" src="js/equalize.min.js"></script>
    <!-- skill bars  -->
    <script type="text/javascript" src="js/skill.bars.jquery.js"></script>
    <!-- justified gallery  -->
    <script type="text/javascript" src="js/justified-gallery.min.js"></script>
    <!--pie chart-->
    <script type="text/javascript" src="js/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="js/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript" src="revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
        <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <script type="text/javascript" src="js/main.js"></script>
</body>
{% endblock content %}