{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url('images/Picture 6.png');">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container">
        <div class="row" style=" margin-top:-60 ; margin-bottom: -100px;">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start sub title -->
                    <h1 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-1">Our
                        Clients</h1>
                    <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-1">Achieving
                        operational excellence by doing more with less<br>
                        <!-- end page title -->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-light-gray">
    <div class="container">
        <div class="row" style=" margin-top:-80px ; margin-bottom: -80px;">
            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-12 center-col margin-eight-bottom sm-margin-40px-bottom xs-margin-30px-bottom text-center last-paragraph-no-margin">
                <h5 class="alt-font font-weight-700 text-extra-dark-gray margin-10px-bottom text-uppercase">Some of
                    our clients</h5>
            </div>
        </div>
        <div class="row">
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Mclarens Group.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Hemas.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Toyota.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Unido.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Kapruka.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Aitken Spence.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/St.Anthony\'s.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Union Bank.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom sm-no-margin">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Bartleet.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
        </div>
        <div class="row">
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Asiri.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Rocell.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Trillium.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Ranfer.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/IIT.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Sunshine.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Atlas.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/ADB.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom sm-no-margin">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/David Pieris.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
        </div>
        <div class="row">
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/JKL.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/HDL.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->
            <!-- start client logo item -->
            <div class="col-md-4 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <div class="bg-white clients-list text-center display-table width-100 margin-30px-bottom">
                    <div class="display-table-cell vertical-align-middle">
                        <a href="#"><img src="{% static 'stax_official/images/Janashakthi.png' %}" alt="" /></a>
                    </div>
                </div>
            </div>
            <!-- end client logo item -->


        </div>
    </div>
</section>
<section class="wow fadeIn">
    <div class="container">
        <div class="row" style=" margin-top:-80px ; margin-bottom: -70px;">
            <div class="col-md-7 col-sm-12 col-xs-12 center-col text-center margin-100px-bottom xs-margin-40px-bottom">
                <div class="position-relative overflow-hidden width-100">
                    <span class="text-small text-outside-line-full alt-font font-weight-600 text-uppercase">Testimonials
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom">
                <!-- start vimeo video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/jMjeSiBG_sg" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe> <!-- end vimeo video -->
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom">
                <!-- start youtube video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/1Mg3mevyeLE" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe> <!-- end youtube video -->
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom" style=" margin-top:80px ; ">
                <!-- start vimeo video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/pOnjy1O5iYE" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe> </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom" style=" margin-top:80px ; ">
                <!-- start youtube video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/waHsIEsz4Ws" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe> </div>
            <div class="col-md-6 col-sm-12 col-xs-12 fit-videos text-center sm-margin-30px-bottom" style=" margin-top:80px ; ">
                <!-- start vimeo video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/MMgpKSXEIDw" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 text-center fit-videos sm-margin 0px-bottom" style=" margin-top:80px ; ">
                <!-- start youtube video -->
                <iframe width="560" height="315" src="https://www.youtube.com/embed/4cKLVB__xT0" frameborder="0" allow="autoplay; encrypted-media"
                    allowfullscreen></iframe> </div>
        </div>

    </div>

</section>
{% endblock content %}