{% extends "stax_official/base.html" %}
{% load static %}

{% block content %}

<section class="wow fadeIn cover-background background-position-top top-space" style="background-image:url({% static 'stax_official/images/Services-min.jpg' %});">
    <div class="opacity-medium bg-extra-dark-gray"></div>
    <div class="container position-relative z-index-5">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                <div class="display-table-cell vertical-align-middle text-center">
                    <!-- start sub title -->
                    <h2 class="alt-font text-white text-uppercase font-weight-400 letter-spacing-minus-3 ">Services</h2>

                    <span class="alt-font text-white text-uppercase font-weight-400 letter-spacing-0">Stax is unique in
                        both what we do and how we do it.</span>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <!-- start interactive banners item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/GROWTH STRATEGY.png' %}" alt="">
                                        <div class="opacity-full-dark bg-extra-dark-gray"></div>
                                        <figcaption>


                                            <span class="text-extra-large display-block text-white alt-font margin-25px-bottom width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Growth
                                                Strategy</span>
                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white margin-10px-bottom display-inline-block ">Multiply
                                                avenues for top-and bottom-line growth</span>
                                            <a href="/growthstrategy" class="btn btn-very-small btn-white font-weight-300">view
                                                Growth Strategy</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end interactive banners item -->
                            <!-- start interactive banners item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown"
                                data-wow-delay="0.2s">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/DIGITAL STRATEGY.png' %}" alt="">
                                        <div class="opacity-full-dark  bg-extra-dark-gray"></div>
                                        <figcaption>
                                            <span class="text-extra-large display-block text-white alt-font margin-25px-bottom width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Digital
                                                Strategy</span>

                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white margin-10px-bottom display-inline-block ">From
                                                digital hype to digital reality</span>
                                            <a href="/digitalstrategy" class="btn btn-very-small btn-white font-weight-300">view
                                                Digital Strategy</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end interactive banners item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown"
                                data-wow-delay="0.2s">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/Market Entry.png' %}" alt="">
                                        <div class="opacity-full-dark  bg-extra-dark-gray"></div>
                                        <figcaption>
                                            <span class="text-extra-large display-block text-white alt-font margin-25px-bottom width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Market
                                                Entry</span>
                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white margin-10px-bottom display-inline-block ">Reaching
                                                customers faster, better, cheaper.</span>

                                            <a href="/marketentry" class="btn btn-very-small btn-white font-weight-300">view
                                                Market Entry</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- start interactive banners item -->
                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown"
                                data-wow-delay="0.4s">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/Project Implementation.png' %}" alt="">
                                        <div class="opacity-full-dark  bg-extra-dark-gray"></div>
                                        <figcaption>

                                            <span class="text-extra-large display-block text-white alt-font  width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Project
                                                Implementation</span>

                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white  display-inline-block ">From managing performance
                                                to orchestrating outcomes</span>
                                            <a href="/projectimplementation" class="btn btn-very-small btn-white font-weight-300">view
                                                Project Implementation </a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <!-- end interactive banners item -->

                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown"
                                data-wow-delay="0.2s">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/Lean.png' %}" alt="">
                                        <div class="opacity-full-dark  bg-extra-dark-gray"></div>
                                        <figcaption>

                                            <span class="text-extra-large display-block text-white alt-font width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Lean
                                                Transformation</span>
                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white  display-inline-block ">Achieving operational
                                                excellence by doing more with less</span>

                                            <a href="/leantransformation" class="btn btn-very-small btn-white font-weight-300">view
                                                Lean Transformation</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 padding-5px-all grid-item feature-box-4 wow slideInDown"
                                data-wow-delay="0.2s">
                                <div class="position-relative overflow-hidden">
                                    <figure>
                                        <img src="{% static 'stax_official/images/Investor Facilitation.png' %}" alt="">
                                        <div class="opacity-full-dark  bg-extra-dark-gray"></div>
                                        <figcaption>
                                            <span class="text-extra-large display-block text-white alt-font  width-60 md-width-100 sm-width-100 sm-margin-seven-bottom xs-width-100">Investor
                                                Facilitation</span>
                                            <div class="bg-deep-pink separator-line-horrizontal-full display-inline-block margin-10px-bottom"></div>
                                            <span class="text-white  display-inline-block ">Attracting smart capital
                                                through an investor mindset </span>

                                            <a href="/investorfacilitation" class="btn btn-very-small btn-white font-weight-300">view
                                                Investor Facilitation</a>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
</section>
{% endblock content %}